@{
    ViewData["title"] = "Categories";
}

<link rel="stylesheet" href="~/css/categories-style.css" />

<div class="main-header">Categories</div>
<div class="categories-container">
    <a href="#" class="category">
        <span class="category-title">#Lorem.</span>
        <span class="category-description">Lorem ipsum dolor sit amet.</span>
    </a>
    <a href="#" class="category">
        <span class="category-title">#Lorem.</span>
        <span class="category-description">Lorem ipsum dolor sit amet.</span>
    </a>
    <a href="#" class="category">
        <span class="category-title">#Lorem.</span>
        <span class="category-description">Lorem ipsum dolor sit amet.</span>
    </a>
    <a href="#" class="category">
        <span class="category-title">#Lorem.</span>
        <span class="category-description">Lorem ipsum dolor sit amet.</span>
    </a>
    <a href="#" class="category">
        <span class="category-title">#Lorem.</span>
        <span class="category-description">Lorem ipsum dolor sit amet.</span>
    </a>
    <a href="#" class="category">
        <span class="category-title">#Lorem.</span>
        <span class="category-description">Lorem ipsum dolor sit amet.</span>
    </a>
    <a href="#" class="category">
        <span class="category-title">#Lorem.</span>
        <span class="category-description">Lorem ipsum dolor sit amet.</span>
    </a>
</div>