@{
    ViewData["title"] = "Privacy & Policy";
}


<link rel="stylesheet" href="~/css/document-style.css">
<div class="brand-area-document">
    <div class="brand-logo-document"></div>
    <div class="brand-name-container-document">
        <div class="brand-name-document">Cyber</div>
        <div class="brand-name-document">Oasis</div>
    </div>
</div>
<div class="document-container">
    <h1>Privacy Policy</h1>
    <p>
        At Cyber Oasis, we are committed to protecting your privacy. This privacy policy explains how we collect, use, and disclose your personal information when you use
        our services.
    </p>

    <h2>Information We Collect</h2>
    <p>We collect the following types of personal information:</p>
    <ul>
        <li>Your name and email address when you register for an account</li>
        <li>Your payment information when you make a purchase</li>
        <li>Your IP address, browser type, and operating system when you use our platform</li>
        <li>Your usage data, such as the courses you take and your progress, when you use our services</li>
    </ul>

    <h2>How We Use Your Information</h2>
    <p>We use your personal information for the following purposes:</p>
    <ul>
        <li>To provide and improve our services</li>
        <li>To personalize your experience on our platform</li>
        <li>To communicate with you about our services and promotions</li>
        <li>To process your payments</li>
        <li>To comply with legal and regulatory requirements</li>
    </ul>

    <h2>How We Share Your Information</h2>
    <p>We may share your personal information with the following third parties:</p>
    <ul>
        <li>Service providers who help us provide our services, such as hosting and payment processing</li>
        <li>Law enforcement or government agencies when required by law or to protect our legal rights</li>
    </ul>

    <h2>Security</h2>
    <p>
        We take reasonable measures to protect your personal information from unauthorized access, use, and disclosure. However, no security measures are perfect and we
        cannot guarantee the security of your information.
    </p>

    <h2>Changes to this Privacy Policy</h2>
    <p>We may update this privacy policy from time to time. We will notify you of any changes by posting the new privacy policy on our platform.</p>

    <h2>Contact Us</h2>
    <p>If you have any questions or concerns about our privacy policy, please contact us at privacy@cyberoasis.com.</p>

    <p>Thank you for choosing Cyber Oasis.</p>
    <p>Sincerely,</p>
    <p>The Cyber Oasis Team</p>
    <p>"An oasis of knowledge"</p>
</div>