@{
    Layout = null;
    ViewData["title"] = "Admin Login";
}

<link rel="stylesheet" href="~/css/admin-login-style.css" />
<link rel="stylesheet" href="~/css/common-style.css" />
<link rel="shortcut icon" href="~/cyber-oasis-logo.png" type="image/x-icon">

<div class="login-box">
    <form>
        <div class="user-box">
            <input type="text" name="name" required="">
            <label>Username</label>
        </div>
        <div class="user-box">
            <input type="password" name="password" required="">
            <label>Password</label>
        </div>
        <div style="text-align: center;">
            <a href="#"> Enter <span></span> </a>
        </div>
    </form>
</div>